# Python environment
.venv/
__pycache__/

# Datasets
dataset/

# Model Checkpoints

phase1/checkpoints/
phase2/checkpoints/

# Generated samples
samples/

# Generated previews and archives
*.zip
*.png
*.jpg